.product-detail-container {
      padding: 3rem;
      width: 100%;
  }
  
  .header {
      align-items: center;
      display: flex;
      flex-direction: row;
      font-size: 2rem;
      justify-content: space-between;
      padding: 1.5rem 0;
      min-width: 30rem;
      max-width: 42rem;
  }
  
  .header h3 {
      font-weight: 200;
  }
  
  .circle {
      background-color: #5207e8;
      border-radius: 50%;
      height: 1rem;
      width: 1rem;
  }
  
  .main-container {
      display: flex;
      flex-direction: column;
  }
  
  .column {
      display: flex;
      max-width: 768px;
  }
  
  .image-container {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;
      padding-top: 2rem;
      width: 100%;
  }
  
  .image-container img {
      height: 40rem;
  }
  
  .arrows {
      background-color: #5d07e8;
      border: none;
      border-radius: 50%;
      color: white;
      font-size: 2.5rem;
      height: 5rem;
      width: 5rem;
  }
  
  .arrows:hover {
      cursor: pointer;
      background-color: #f35c5c;
  }
  
  .product-info-container {
      padding: 4rem;
      width: 100%;
  }
  
  
  .product-info-title {
      font-size: 3rem;
  }
  
  .product-price-det {
      display: flex;
      flex-direction: column;
      height: 14rem;
      justify-content: center;
      text-align: left;
      width: 50%;
  }

  .quantity-container {
      display: flex;
      flex-direction: column;
      height: 14rem;
      justify-content: center;
      text-align: left;
      width: 50%;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 3rem 0;
  }
  
  .price-container {
      display: flex;
      flex-direction: row;
  }
 
  .price-container p {
      color: #6c06f1;
      font-size: 2rem;
  }
  
  .quantity-container label {
      color: #6c06f1;
      font-size: 2rem;
  }
  
  .button-container button, .button-container input {
      background-color: transparent;
      border: 1px solid #630de3;
      font-size: 2.2rem;
      height: 3rem;
      width: 3rem;
  }
  
  .button-container {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0 auto;
  }
  
  .button-container input {
      text-align: center;
      width: 20%;
  }
  
  .cart-button {
      background-color: #5809e1;
      border: none;
      color: #ffffff;
      font-size: 2.6rem;
      padding: 1rem;
      width: 100%;
  }
  
  .cart-button:hover {
      cursor: pointer;
      background-color:#f35c5c;
  }
  
  .product-description {
      font-size: 1.8rem;
      padding: 4rem 0;
      color:#630de3;
  }
  
  .related-products-container h2 {
      color: #7d5cf3;
      font-size: 2.5rem;
      padding: 0 4rem;
  }
  
  .related-products-list {
      display: flex;
      flex-wrap: wrap;
  }
  
  .related-column {
      display: flex;
      padding: 2rem;
      width: 100%;
  }
  
  @media (min-width: 600px) {
      .related-column {
          padding: 8rem;
      }
  }
  
  @media (min-width: 768px) {
      .main-container {
          flex-direction: row;
      }
  
      .main-container h2 {
          padding-top: 6rem;
      }
  
      .related-column, .product-info-container {
          padding: 4rem;
          width: 50%;
      }
  
      .price-container {
          grid-area: 3;
      }
  
      .cart-button {
          grid-area: 4;
      }
      
      .product-description {
          grid-area: 2;
      }
  }
  
  @media (min-width: 1440px) {
      .column, .related-column {
          width: 33.33%;
      }
  
      .main-container .column {
          width: 50%;
      }
  }